* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logoredes {
  width: 50px;
}

main .gerenciamento {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 3rem;
  padding-top: 5rem;
  background-color: rgb(94, 45, 139);
  height: 500px;
}

.gerenciamento h1 {
  letter-spacing: 0.3rem;
  color: white;
  font-size: 4rem;
  padding-top: 4rem;
  margin-bottom: 1.3rem;
}
.gerenciamento p {
  color: white;
  font-size: 1.1rem;
}
main section .redes-sociais {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 0.5rem;
  width: 300px;
  border: 3px white dashed;
}
.gerenciamento img {
  height: 30px;
}
main .como-funciona {
  margin-left: 2rem;
  width: 95%;
  background-color: white;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
}
main .como-funciona h2 {
  font-size: 1.5rem;
}
.borda {
  border-bottom: solid 5px #3a225b;
  border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80px;
}
main .como-funciona .container {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 350px;
  background-image: url(imagemback.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .como-funciona .container .mini-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  width: 650px;
  height: 300px;
}

.mini-container {
  opacity: 0;
}

.active {
  opacity: 1;
}
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translate(-60%, -50%) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.mini-container.active {
  animation: fadeSlide 0.8s ease forwards;
}
main .como-funciona .container .mini-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  gap: 1.7rem;
}
main .como-funciona .container .mini-container img {
  margin-right: 1.2rem;
  width: 100px;
  height: 100px;
}
main .como-funciona .container .mini-container h3 {
  font-size: 2rem;
  margin-left: 20%;
}
main .como-funciona .container .mini-container p {
  font-size: 1.4rem;
}

main .como-funciona .container .mini-container a {
  color: rgb(165, 165, 90);
  margin-left: 25%;
  font-size: 1.5rem;
}

main .assinaturas-notificaçoes {
  display: flex;
  width: 100%;
  padding-bottom: 5rem;
}
.img-estilo img {
  border-radius: 20px;
  margin-left: 100px;
  width: 400px;
  height: 600px;
}
main .assinaturas-notificaçoes .textarea {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 5rem;
}
main .assinaturas-notificaçoes .textarea h2 {
  font-size: 1.5rem;
}

main .assinaturas-notificaçoes .textarea p {
  font-size: 1.3rem;
}
.btn {
  width: 18rem;
  height: 4rem;
  background-color: #3a225b;
  color: white;
  font-size: 1.4rem;
  margin-left: 5rem;
  margin-top: 4rem;
  border-radius: 15px;
}

footer {
  background-color: #3a225b;
}
footer .contato {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
footer .contato h2 {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}
footer .contato p {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}
footer .contato input[type="email"] {
  padding: 1rem;
  width: 25rem;
  margin-bottom: 1.5rem;
  color: black;
}

footer .contato .btn-subscribe {
  background-color: rgb(180, 180, 180);
  color: white;
  margin-top: 3rem;
  padding: 0.8rem;
  width: 12rem;
}

.borda-footer {
  margin-left: 5%;
  width: 90%;
  border: solid rgba(206, 206, 206, 0.548) 1.5px;
}

footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: white;
}
footer .footer .redes-sociais2 {
  margin-top: 1rem;
}
footer .footer .links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

footer .footer .links a {
  margin-top: 15px;
  color: white;
}

footer .footer .links a:hover {
  font-size: 1.3rem;
}
.copy {
  padding-bottom: 0.5rem;
  color: white;
}

/* RESPONSIVIDADE PARA TELAS MEDIAS/TABLETS */

@media (max-width: 768px) and (min-width: 550px) {
  header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 180px;
  }
  header nav a {
    font-size: 1.1rem;
    padding: 0.7rem;
  }
  header img {
    height: 90px;
  }

  main .gerenciamento {
    padding-top: 2rem;
    height: 400px;
  }

  .gerenciamento h1 {
    font-size: 2.5rem;
    padding-top: 3rem;
  }

  main .como-funciona h2 {
    font-size: 1.8rem;
  }

  main .como-funciona .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 700px;
  }
  main .como-funciona .container .mini-container {
    width: 450px;
    height: 270px;
  }

  .img-estilo img {
    width: 15rem;
  }
  main .como-funciona .container .mini-container img {
    width: 80px;
    height: 80px;
  }
  main .como-funciona .container .mini-container h3 {
    font-size: 1.5rem;
  }
  main .como-funciona .container .mini-container p {
    font-size: 1.2rem;
  }
  main .assinaturas-notificaçoes .textarea h2 {
    font-size: 1.8rem;
  }
}

/* RESPONSIVIDADE PARA CELULAR */

@media (max-width: 480px) and (min-width: 330px) {
  header img {
    height: 70px;
  }
  header nav {
    display: none;
  }

  main .gerenciamento {
    padding-top: 3rem;
    height: auto;
    justify-content: space-between;
  }
  .gerenciamento h1 {
    font-size: 1.8rem;
    padding-top: 0;
  }
  .gerenciamento p {
    color: white;
    font-size: 1rem;
  }
  main section .redes-sociais {
    margin-bottom: 1rem;
  }

  main .como-funciona {
    margin-left: 1rem;
  }
  main .como-funciona .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 700px;
  }

  main .como-funciona .container .mini-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
  }
  main .como-funciona .container .mini-container img {
    margin-right: 1.2rem;
    width: 60px;
    height: 60px;
  }
  main .como-funciona .container .mini-container h3 {
    font-size: 1.2rem;
  }
  main .como-funciona .container .mini-container p {
    font-size: 1rem;
  }
  main .como-funciona .container .mini-container a {
    font-size: 1.3rem;
  }

  main .assinaturas-notificaçoes {
    width: 95%;
    padding-bottom: 5rem;
  }
  main .assinaturas-notificaçoes .textarea {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 3rem;
  }
  main .assinaturas-notificaçoes .textarea h2 {
    font-size: 1.5rem;
  }

  main .assinaturas-notificaçoes .textarea p {
    font-size: 1.3rem;
  }

  .img-estilo img {
    display: none;
  }
  footer .contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  footer .contato h2 {
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
  }
  footer .contato p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }
  footer .contato input[type="email"] {
    padding: 1rem;
    width: 15rem;
    margin-bottom: 1.5rem;
    color: black;
  }

  footer .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .footer .redes-sociais2 {
    margin-top: 1rem;
  }
  footer .footer .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  footer .footer .links a {
    color: white;
  }
  .copy {
    padding-bottom: 1rem;
    color: white;
  }
}
