@font-face {
  font-family: Poppins;
  src: url(Fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

/* --- CONTAINER PRINCIPAL --- */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* --- COLUNA ESQUERDA --- */
.esquerda {
  flex: 2;
  display: flex;
  flex-direction: column; /* permite empilhar o conteúdo */
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */
  background-color: #ffffff;
  padding: 40px;
  overflow-y: auto;
}

.logo-titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.logo {
  width: 270px;
  margin-bottom: 120px;
  justify-content: flex-start;
}

.logo-titulo h1 {
  margin: 0;
  font-size: 24px;
  color: black;
}

/* --- FORMULÁRIO --- */
.form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  flex: 1;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 15px;
  color: #333;
}

.linha {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

ul {
  color: gray;
  font-size: 12px;
  margin-top: 0;
}

hr {
  color: #ccc;
  width: 100%;
}

.botao-criar {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  width: 50%;
  margin: 30px auto; /*Aumenta a distância vertical*/
  cursor: pointer;
  background-color: blueviolet;
  color: #ffffff;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* --- COLUNA DIREITA --- */
.lateral {
  width: 40%;         /* controla o tamanho da coluna direita */
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.imagem-lateral {
  width: 90%;        /* preenche toda a coluna */
  height: 100%;
  object-fit: cover;  /* mantém proporção sem distorcer */
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
